@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

:root {
  --clr-cyan: hsl(179, 62%, 43%);
  --clr-light-cyan: hsl(179, 47%, 52%);
  --clr-bright-yellow: hsl(71, 73%, 54%);
  --clr-light-gray: hsl(204, 43%, 93%);
  --clr-grayish-blue: hsl(218, 22%, 67%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--clr-light-gray);
  font-family: "Karla", sans-serif;
  color: #fff;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 2rem;
}

.card {
  border-radius: 0.5rem;
  overflow: hidden;
}

.card > div {
  padding: 2rem;
}

.card-title,
.card-desc {
  margin-bottom: 1rem;
}

.card-1 {
  background-color: #fff;
}

.card-1 .card-title {
  color: var(--clr-cyan);
}

.card-1 .card-desc:not(.accent) {
  color: var(--clr-grayish-blue);
}

.accent {
  color: var(--clr-bright-yellow);
}

.card-2 {
  background-color: var(--clr-cyan);
}

.card-2 .d-flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card-2 .d-flex {
  color: var(--clr-light-gray);
}

.card-2 .card-desc span {
  font-size: 2.3rem;
  color: white;
  font-weight: 700;
}

.btn {
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  display: block;
  text-align: center;
  text-decoration: none;
  color: var(--clr-light-gray);
  background-color: var(--clr-bright-yellow);
}

.card-3 {
  background-color: var(--clr-light-cyan);
}

.card-3 .card-desc {
  color: var(--clr-light-gray);
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: #000;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) {
  .container {
    height: 95vh;
    max-width: 700px;
    display: flex;
    align-items: center;
  }
  .card {
    max-width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .card-1 {
    grid-column: span 2;
  }
}
